.header {
    background: url('../../../../assets/logo/logo-hgt.png');
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

ion-card {
    background: #fff;
    min-height: 300px;
}

span {
    font-weight: bold;
    font-size: 0.8em;
    color: #ea6153;
}

ion-slide {
    display: block;
}

ion-input {
    border: 1px solid #d2d2d2;
    border-radius: 10px;
}

ion-button {
    text-transform: lowercase;
    margin-bottom: 50px;
    margin-top: 20px;
}

.links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.link a {
    color: #666666;
    text-decoration: none;
}

.input-group {
    margin-bottom: 10px;
}

.custom-input {
    width: 90%;
    height: 45px;
    padding-left: 5px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    outline: none;
    text-transform: lowercase;
}

.input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #707070;
}

.icone-ok {
    color: #2ecc71;
    font-size: 20px;
    vertical-align: middle;
}

.validacao {
    color: #f00;
    font-weight: bold;
    font-size: 12px;
}

.invalido {
    border: 2px solid #ea6153;
    border-radius: 10px;
}

.valido {
    border: 2px solid #2ecc71;
    border-radius: 10px;
}