ion-card {
    background-color: #fff;
    img {
        max-height: 300px;
    }
}

.dados-compra {
    margin-bottom: 3rem;
}

ion-text,
ion-icon {
    font-size: 16px;
    align-self: center;
}

#calendario {
    vertical-align: text-bottom;
    margin-right: 10px;
}

#relogio {
    vertical-align: text-bottom;
    margin-right: 10px;
}

#gps {
    vertical-align: text-bottom;
    margin-right: 10px;
}

.btnComprar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.link a {
    color: #666666;
}