ion-card {
    background-color: #fff;
}

ion-text,
ion-icon {
    font-size: 16px;
    align-self: center;
}

#calendario {
    vertical-align: text-bottom;
    margin-right: 10px;
}

#relogio {
    vertical-align: text-bottom;
    margin-right: 10px;
}

#gps {
    vertical-align: text-bottom;
    margin-right: 10px;
}