h1,
h2,
h3,
h4,
h5 {
    color: #ED4C79;
}

ion-content {
    // background-image: url("../../../assets/backgrounds/bg-explorar.png");
    // --background: url("../../../assets/backgrounds/bg-explorar.png");
    --background: #ecf0f1;
}

.lista-categorias {
    margin-top: 20px;
}