<ion-row *ngIf="!novidades">
    <ion-slides [options]="slidesOpts">
        <ion-slide *ngFor="let evento of eventos">
            <ion-card button="true" (click)="eventoClick(evento)">
                <app-img src="{{ evento.imagem }}" nomeEvento="{{ evento.atracao.nome }}" nomeEvento="{{ evento.locais.nome }}" dataEvento="{{ evento.dt_inicio_evento }}" localEvento="{{ evento.local.cidade }}/{{ evento.local.uf }}"></app-img>
            </ion-card>
        </ion-slide>
        <ion-slide *ngIf="erro"></ion-slide>
    </ion-slides>
</ion-row>

<ion-row *ngIf="novidades">
    <ion-slides [options]="slidesOpts">
        <ion-slide *ngFor="let eventoNovo of eventosNovos">
            <ion-card button="true" (click)="eventoClick(eventoNovo)">
                <app-img src="{{ eventoNovo.imagem }}" nomeEvento="{{ eventoNovo.artista }}" nomeEvento="{{ eventoNovo.locais.nome }}" dataEvento="{{ eventoNovo.data_inicio_evento }}" localEvento="{{ eventoNovo.local.cidade }}/{{ eventoNovo.local.uf }}"></app-img>
            </ion-card>
        </ion-slide>
        <ion-slide *ngIf="erro"></ion-slide>
    </ion-slides>
</ion-row>