h1,
h2,
h3,
h4,
h5 {
    color: #ED4C79;
    // color: #FFF;
}

.bem-vindo {
    // color: #ED4C79;
    color: #FFF;
    text-align: left;
    width: 50%;
}

ion-content {
    // background-image: url("../../../assets/backgrounds/bg-explorar.png");
    // --background: url("../../../assets/backgrounds/bg-explorar.png");
    --background: #ecf0f1;
    // --background: linear-gradient(to top, #ff0084, #0f0008);
}

.lista-categorias {
    margin-top: 20px;
}

.header {
    height: 130px;
    width: 100%;
    background: #FF6700;
    border-radius: 0px 0px 10px 10px;
    // background: url("../../../../assets/backgrounds/background.png");
}