.imagem-evento-fixa {
    position: absolute;
    top: 0;
    img {
        width: 100%;
        height: 375px;
        border: none;
        position: fixed;
        top: 0;
    }
}

.infos {
    width: 100%;
}

.infos-header {
    background-color: #EBEBEB;
    min-height: 200px;
    max-height: auto;
    border-radius: 20px 20px 0 0;
    position: relative;
    top: 200px;
    padding: 20px;
}

.infos-header-content {
    display: flex;
    justify-content: space-between;
    .nome-evento {
        width: calc(100% - 50px);
    }
    #favorito {
        margin-right: 5px;
        font-size: 28px;
    }
}

.infos-complementar-content {
    margin-top: 15px;
    padding: 10px;
    // margin-left: 4%;
    // margin-right: 4%;
    font-size: 16px;
    width: 100%;
    line-height: 1.5rem;
    #calendario {
        vertical-align: text-bottom;
        margin-right: 10px;
        font-size: 23px;
    }
    #relogio {
        vertical-align: text-bottom;
        margin-right: 10px;
        font-size: 23px;
    }
    #gps {
        vertical-align: text-bottom;
        margin-right: 10px;
        font-size: 23px;
    }
    .endereco {
        margin-left: 32px;
    }
    .cidade-uf {
        margin-top: 15px;
        font-weight: bold;
        text-align: center;
    }
}

.infos-content {
    background-color: #fff;
    height: auto;
    position: relative;
    padding: 10px;
    top: 199px;
    ion-text {
        p {
            color: #707070;
            font-size: 16px;
        }
    }
    margin-bottom: 3rem;
}

ion-header {
    border: none;
}

.fechar {
    font-size: 36px;
    color: #000;
    border-radius: 10px;
    background-color: #E4E8EA;
}

.sair {
    z-index: 1;
}

.btnComprar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.btnLogar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.ingressos-revenda {
    // margin-top: 15px;
    // margin-bottom: 15px;
    // background: #f3f0f0;
    padding: 15px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

ion-button {
    font-size: 16px;
}