<ion-header>
    <ion-toolbar>
        <ion-title>cadastrar</ion-title>
    </ion-toolbar>
</ion-header>

<!-- <ion-content>
    <ion-card mode="ios">
        <ion-progress-bar id="progressoCadastro" class="ion-hide" type="indeterminate"></ion-progress-bar>
        <ion-card-header class="card-header">
            <ion-icon name="arrow-back" size="large" (click)="prev()"></ion-icon>
            <ion-card-title>Cadastrar</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <form id="formularioCadastro" [formGroup]="formCadastro" (ngSubmit)="onSubmitCadastro()">
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <div id="primeiro_nome" class="ion-text-start input-group">
                                <ion-label position="stacked">primeiro nome</ion-label>
                                <ion-input [ngClass]="{'invalido': !formCadastro.get('primeiro_nome').valid  && (formCadastro.get('primeiro_nome').dirty || formCadastro.get('primeiro_nome').touched)}" formControlName="primeiro_nome" type="text"></ion-input>
                                <ng-container *ngFor="let validacao of mensagensValidacao.primeiro_nome">
                                    <div *ngIf="formCadastro.get('primeiro_nome').hasError(validacao.type) && (formCadastro.get('primeiro_nome').dirty || formCadastro.get('primeiro_nome').touched)">
                                        <span>{{ validacao.message }}</span>
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <div id="sobrenome" class="ion-text-start input-group">
                                <ion-label position="stacked">sobrenome</ion-label>
                                <ion-input [ngClass]="{'invalido': !formCadastro.get('sobrenome').valid  && (formCadastro.get('sobrenome').dirty || formCadastro.get('sobrenome').touched)}" formControlName="sobrenome" type="text"></ion-input>
                                <ng-container *ngFor="let validacao of mensagensValidacao.sobrenome">
                                    <div *ngIf="formCadastro.get('sobrenome').hasError(validacao.type) && (formCadastro.get('sobrenome').dirty || formCadastro.get('sobrenome').touched)">
                                        <span>{{ validacao.message }}</span>
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <div id="email" class="ion-text-start input-group">
                                <ion-label position="stacked">e-mail</ion-label>
                                <ion-input [ngClass]="{'invalido': !formCadastro.get('email').valid  && (formCadastro.get('email').dirty || formCadastro.get('email').touched)}" formControlName="email" type="email"></ion-input>
                                <ng-container *ngFor="let validacao of mensagensValidacao.email">
                                    <div *ngIf="formCadastro.get('email').hasError(validacao.type) && (formCadastro.get('email').dirty || formCadastro.get('email').touched)">
                                        <span>{{ validacao.message }}</span>
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <div id="senha" class="ion-text-start">
                                <ion-label position="stacked">senha</ion-label>
                                <ion-input [ngClass]="{'invalido': !formCadastro.get('senha').valid  && (formCadastro.get('senha').dirty || formCadastro.get('senha').touched)}" formControlName="senha" type="password"></ion-input>
                                <ng-container *ngFor="let validacao of mensagensValidacao.senha">
                                    <div *ngIf="formCadastro.get('senha').hasError(validacao.type) && (formCadastro.get('senha').dirty || formCadastro.get('senha').touched)">
                                        <span>{{ validacao.message }}</span>
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <div id="confirmacao_senha" class="ion-text-start">
                                <ion-label position="stacked">confirme sua senha</ion-label>
                                <ion-input [ngClass]="{'invalido': !formCadastro.get('senhaConfirmacao').valid  && (formCadastro.get('senhaConfirmacao').dirty || formCadastro.get('senhaConfirmacao').touched)}" formControlName="senhaConfirmacao" type="password"></ion-input>
                                <ng-container *ngFor="let validacao of mensagensValidacao.senhaConfirmacao">
                                    <div *ngIf="formCadastro.get('senhaConfirmacao').hasError(validacao.type) && (formCadastro.get('senhaConfirmacao').dirty || formCadastro.get('senhaConfirmacao').touched)">
                                        <span>{{ validacao.message }}</span>
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <div id="dt_nascimento" class="ion-text-start input-group">
                                <ion-label position="stacked">data de nascimento</ion-label>

                                <ion-datetime displayFormat="DD/MM/YYYY" min="1940" max="2019-08-19" [value]="getData()" cancelText="cancelar" doneText="pronto" (ionChange)="setData($event)"></ion-datetime>

                                <ng-container *ngFor="let validacao of mensagensValidacao.dt_nascimento">
                                    <div *ngIf="formCadastro.get('dt_nascimento').hasError(validacao.type) && (formCadastro.get('dt_nascimento').dirty || formCadastro.get('dt_nascimento').touched)">
                                        <span>{{ validacao.message }}</span>
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <div id="cpf" class="ion-text-start input-group">
                                <ion-label position="stacked">cpf</ion-label>
                                <ion-input [ngClass]="{'invalido': !formCadastro.get('cpf').valid  && (formCadastro.get('cpf').dirty || formCadastro.get('cpf').touched)}" formControlName="cpf" inputmode="numeric" name="cpf" [brmasker]="{form: formCadastro.get('cpf'), mask: '999.999.999-99'}"
                                    maxlength="14"></ion-input>
                                <ng-container *ngFor="let validacao of mensagensValidacao.cpf">
                                    <div *ngIf="formCadastro.get('cpf').hasError(validacao.type) && (formCadastro.get('cpf').dirty || formCadastro.get('cpf').touched)">
                                        <span>{{ validacao.message }}</span>
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <div id="telefone" class="ion-text-start input-group">
                                <ion-label position="stacked">telefone</ion-label>
                                <ion-input [ngClass]="{'invalido': !formCadastro.get('telefone').valid  && (formCadastro.get('telefone').dirty || formCadastro.get('telefone').touched)}" formControlName="telefone" inputmode="tel" name="phone" [brmasker]="{form: formCadastro.get('numero'), phone: true}"></ion-input>
                                <ng-container *ngFor="let validacao of mensagensValidacao.telefone">
                                    <div *ngIf="formCadastro.get('telefone').hasError(validacao.type) && (formCadastro.get('telefone').dirty || formCadastro.get('telefone').touched)">
                                        <span>{{ validacao.message }}</span>
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <div id="usuario" class="ion-text-start input-group">
                                <ion-label position="stacked">usuário</ion-label>
                                <ion-input [ngClass]="{'invalido': !formCadastro.get('usuario').valid  && (formCadastro.get('usuario').dirty || formCadastro.get('usuario').touched)}" formControlName="usuario" type="text"></ion-input>
                                <ng-container *ngFor="let validacao of mensagensValidacao.usuario">
                                    <div *ngIf="formCadastro.get('usuario').hasError(validacao.type) && (formCadastro.get('usuario').dirty || formCadastro.get('usuario').touched)">
                                        <span>{{ validacao.message }}</span>
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <div id="cep" class="ion-text-start input-group">
                                <ion-label position="stacked">cep</ion-label>
                                <ion-input [ngClass]="{'invalido': !formCadastro.get('cep').valid  && (formCadastro.get('cep').dirty || formCadastro.get('cep').touched)}" formControlName="cep" inputmode="numeric" [brmasker]="{form: formCadastro.get('cep'), mask: '00000-000'}" maxlength="9"
                                    (ionBlur)="getEndereco($event)"></ion-input>
                                <ion-spinner name="dots" color="primary" class="loading ion-hide"></ion-spinner>

                                <ng-container *ngFor="let validacao of mensagensValidacao.cep">
                                    <div *ngIf="formCadastro.get('cep').hasError(validacao.type) && (formCadastro.get('cep').dirty || formCadastro.get('cep').touched)">
                                        <span>{{ validacao.message }}</span>
                                    </div>
                                </ng-container>

                            </div>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="8">
                            <div id="logradouro" class="ion-text-start input-group">
                                <ion-label position="stacked">logradouro</ion-label>
                                <ion-input formControlName="logradouro" type="text" maxlength="30" readonly></ion-input>
                                <ng-container *ngFor="let validacao of mensagensValidacao.logradouro">
                                    <div *ngIf="formCadastro.get('logradouro').hasError(validacao.type) && (formCadastro.get('logradouro').dirty || formCadastro.get('logradouro').touched)">
                                        <span>{{ validacao.message }}</span>
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>

                        <ion-col>
                            <div id="numero" class="ion-text-start input-group">
                                <ion-label position="stacked">número</ion-label>
                                <ion-input [ngClass]="{'invalido': !formCadastro.get('numero').valid  && (formCadastro.get('numero').dirty || formCadastro.get('numero').touched)}" formControlName="numero" inputmode="numeric" type="number"></ion-input>
                                <ng-container *ngFor="let validacao of mensagensValidacao.numero">
                                    <div *ngIf="formCadastro.get('numero').hasError(validacao.type) && (formCadastro.get('numero').dirty || formCadastro.get('numero').touched)">
                                        <span>{{ validacao.message }}</span>
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <div id="complemento" class="ion-text-start input-group">
                                <ion-label position="stacked">complemento</ion-label>
                                <ion-input [ngClass]="{'invalido': !formCadastro.get('complemento').valid  && (formCadastro.get('complemento').dirty || formCadastro.get('complemento').touched)}" formControlName="complemento" type="text" maxlength="20"></ion-input>
                                <ng-container *ngFor="let validacao of mensagensValidacao.complemento">
                                    <div *ngIf="formCadastro.get('complemento').hasError(validacao.type) && (formCadastro.get('complemento').dirty || formCadastro.get('complemento').touched)">
                                        <span>{{ validacao.message }}</span>
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="8">
                            <div id="cidade" class="ion-text-start input-group">
                                <ion-label position="stacked">cidade</ion-label>
                                <ion-input formControlName="cidade" type="text" max="20" readonly></ion-input>
                                <ng-container *ngFor="let validacao of mensagensValidacao.cidade">
                                    <div *ngIf="formCadastro.get('cidade').hasError(validacao.type) && (formCadastro.get('cidade').dirty || formCadastro.get('cidade').touched)">
                                        <span>{{ validacao.message }}</span>
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col>
                            <div id="uf" class="ion-text-start input-group">
                                <ion-label position="stacked">uf</ion-label>
                                <ion-input formControlName="uf" inputmode="text" maxlength="2" readonly></ion-input>
                                <ng-container *ngFor="let validacao of mensagensValidacao.uf">
                                    <div *ngIf="formCadastro.get('uf').hasError(validacao.type) && (formCadastro.get('uf').dirty || formCadastro.get('uf').touched)">
                                        <span>{{ validacao.message }}</span>
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-button type="submit" size="large" shape="round" expand="full" id="btnCadastrar" [disabled]="!formCadastro.valid">Cadastrar</ion-button>
            </form>

        </ion-card-content>
    </ion-card>

</ion-content> -->