<ion-content>
    <ion-row padding>
        <div class="sair">
            <ion-icon name="ios-arrow-back" (click)="fecharModal()" class="fechar ion-left"></ion-icon>
        </div>
    </ion-row>
    <ion-row>
        <div class="imagem-evento-fixa">
            <img src="{{ evento.imagem }}" />
        </div>
    </ion-row>
    <ion-row>
        <div class="infos">
            <div class="infos-header">
                <div class="infos-header-content">
                    <div class="nome-evento">
                        <h1 class="ion-no-padding ion-no-margin"> {{ evento.atracao.nome }} </h1>
                    </div>
                    <ion-icon id="favorito" name="heart"></ion-icon>
                </div>
                <div class="infos-complementar-content">
                    <div class="data">
                        <ion-icon id="calendario" name="calendar"></ion-icon>
                        <ion-text>{{ evento.dt_inicio_evento_formatada }}</ion-text>
                    </div>
                    <div class="hora">
                        <ion-icon id="relogio" name="time"></ion-icon>
                        <ion-text>às {{ evento.hora_inicio_evento }}</ion-text>
                    </div>
                    <divisor></divisor>
                    <div class="local">
                        <ion-icon id="gps" name="pin"></ion-icon>
                        <ion-text>{{ evento.local.nome }}</ion-text>
                    </div>
                    <div class="endereco">
                        <ion-text class="ion-text-center">{{ evento.local.endereco }}</ion-text>
                    </div>
                    <div class="cidade-uf">
                        <ion-text class="ion-text-uppercase">{{ evento.local.cidade }}/{{ evento.local.uf }}</ion-text>
                    </div>
                </div>
            </div>
            <div class="infos-content">
                <div class="detalhes">
                    <h4>detalhes</h4>
                    <ion-text>
                        <p>{{ evento.descricao }}</p>
                    </ion-text>
                </div>
                <!-- <divisor></divisor>
                <div class="conheça">
                    <h4>conheça</h4>
                </div> -->

            </div>
        </div>
    </ion-row>

    <ion-row>
        <ion-button id="btnComprar" class="ion-no-margin" expand="full">garanta seu ingresso</ion-button>
    </ion-row>
</ion-content>