<!-- <ion-header>
    <ion-toolbar>
        <ion-title>{{ evento.artista }}</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-row>
        <div class="imagem-evento-fixa">
            <img src="{{ evento.imagem }}" />
        </div>
    </ion-row>
    <ion-row>
        <div class="infos-evento">
            <div class="infos-header">
                <h1 class="ion-no-padding ion-no-margin"> {{ evento.artista }} </h1>
                <ion-icon src="../../assets/menu-icons/carteira.svg"></ion-icon>
            </div>
            <div class="infos-content">
                <div class="detalhes">
                    <h3>detalhes</h3>
                    <ion-text>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias, quo? Asperiores, id? Assumenda, sunt ipsa, quia voluptatibus hic est error architecto dicta natus, reprehenderit dolore exercitationem laborum saepe quasi nobis.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum a ex, adipisci voluptatem id repellat nesciunt ut rerum, laborum tenetur corporis deserunt exercitationem, quos expedita. Corporis optio hic iste commodi. Lorem
                            ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sint dolor quas aperiam autem aspernatur adipisci quos cum nemo minima dolorem asperiores, ex, doloremque, labore dolorum odio voluptas ratione officia?</p>
                    </ion-text>
                </div>
                <divisor></divisor>
                <div class="conheça">
                    <h3>conheça</h3>
                </div>
            </div>
        </div>
    </ion-row>

</ion-content>