<ion-tabs>
    <ion-button id="btnComprar" class="ion-hide ion-no-margin" expand="full">garanta seu ingresso</ion-button>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="explorar" (click)="removeBtnComprar()">
            <ion-icon src="../../assets/menu-icons/globo.svg"></ion-icon>
            <ion-label>Explorar</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="pesquisar" (click)="removeBtnComprar()">
            <ion-label>Buscar</ion-label>
            <ion-icon src="../../assets/menu-icons/lupa.svg"></ion-icon>
        </ion-tab-button>

        <ion-tab-button>
            <ion-label>Carteira</ion-label>
            <ion-icon src="../../assets/menu-icons/carteira.svg"></ion-icon>
        </ion-tab-button>

        <ion-tab-button>
            <ion-label>Meus ingressos</ion-label>
            <ion-icon src="../../assets/menu-icons/ticket.svg"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="login" (click)="removeBtnComprar()">
            <ion-label>Perfil</ion-label>
            <ion-icon src="../../assets/menu-icons/perfil.svg"></ion-icon>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>

<!-- <ion-grid>
    <ion-row class="ion-align-items-start">
        <ion-tabs>
            <ion-tab-bar slot="bottom">

                <ion-col>
                    <ion-tab-button tab="explorar">
                        <ion-icon src="../../assets/menu-icons/globo.svg"></ion-icon>
                        <ion-label>Explorar</ion-label>
                    </ion-tab-button>
                </ion-col>

                <ion-col>
                    <ion-tab-button tab="pesquisar">
                        <ion-label>Buscar</ion-label>
                        <ion-icon src="../../assets/menu-icons/lupa.svg"></ion-icon>
                    </ion-tab-button>
                </ion-col>

                <ion-col class="ion-align-self-center">
                    <ion-tab-button>
                        <ion-label>Carteira</ion-label>
                        <ion-icon src="../../assets/menu-icons/carteira.svg"></ion-icon>
                    </ion-tab-button>
                </ion-col>

                <ion-col>
                    <ion-tab-button>
                        <ion-label><span class="label">Meus ingressos</span></ion-label>
                        <ion-icon src="../../assets/menu-icons/ticket.svg"></ion-icon>
                    </ion-tab-button>
                </ion-col>


                <ion-col>
                    <ion-tab-button>
                        <ion-label>Perfil</ion-label>
                        <ion-icon src="../../assets/menu-icons/perfil.svg"></ion-icon>
                    </ion-tab-button>
                </ion-col>

            </ion-tab-bar>

        </ion-tabs>
    </ion-row>
</ion-grid> -->