ion-icon {
    font-size: 20px;
}

ion-label {
    font-size: 9px;
    margin-top: 5px;
    max-width: 80px;
    text-align: center;
}

ion-tab-bar {
    height: 60px;
}

ion-button {
    margin: 0;
    min-height: 55px;
    text-transform: lowercase;
    font-size: 16px;
}

ion-tab-button {
    --color-selected: #ED4C79;
}