<ion-tabs>
    <ion-tab-bar slot="bottom">

        <ion-tab-button>
            <ion-label>Explorar</ion-label>
            <!-- <ion-icon src="../../assets/menu-icons/globo.svg"></ion-icon> -->
            <ion-icon name="globe"></ion-icon>
        </ion-tab-button>

        <ion-tab-button>
            <ion-label>Buscar</ion-label>
            <ion-icon src="../../assets/menu-icons/lupa.svg"></ion-icon>
        </ion-tab-button>


        <ion-tab-button>
            <ion-label>Carteira</ion-label>
            <ion-icon src="../../assets/menu-icons/carteira.svg"></ion-icon>
        </ion-tab-button>


        <ion-tab-button>
            <ion-label>Meus ingressos</ion-label>
            <ion-icon src="../../assets/menu-icons/ticket.svg"></ion-icon>
        </ion-tab-button>


        <ion-tab-button>
            <ion-label>Perfil</ion-label>
            <ion-icon src="../../assets/menu-icons/perfil.svg"></ion-icon>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>