<ion-tabs>
    <ion-button id="btnComprar" class="ion-hide ion-no-margin" expand="full">garanta seu ingresso</ion-button>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="explorar" (click)="removeBtnComprar()">
            <ion-icon src="../../assets/menu-icons/globo.svg"></ion-icon>
            <ion-label>Explorar</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="pesquisar" (click)="removeBtnComprar()">
            <ion-label>Buscar</ion-label>
            <ion-icon src="../../assets/menu-icons/lupa.svg"></ion-icon>
        </ion-tab-button>

        <ion-tab-button *ngIf="autenticado">
            <ion-label>Carteira</ion-label>
            <ion-icon src="../../assets/menu-icons/carteira.svg"></ion-icon>
        </ion-tab-button>

        <ion-tab-button id="tabMeusIngressos" *ngIf="autenticado">
            <ion-label>Meus ingressos</ion-label>
            <ion-icon src="../../assets/menu-icons/ticket.svg"></ion-icon>
        </ion-tab-button>

        <ion-tab-button id="tabLogin" tab="login" (click)="removeBtnComprar()">
            <ion-label>Login</ion-label>
            <ion-icon src="../../assets/menu-icons/perfil.svg"></ion-icon>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>