.ticket {
    background: url("/../../../../../assets/backgrounds/ticket.png") no-repeat center;
    width: 100%;
    height: 100%;
    position: absolute;
}

ion-slides {
    height: 100%;
}

.conteudo {
    position: relative;
    padding: 10px;
    width: 310px;
    height: 360px;
    margin: 0 auto;
}

.qr-code {
    width: 310px;
    position: relative;
    padding: 10px;
    margin: 0 auto;
}

img {
    display: initial !important;
}