ion-card {
    background: #fff;
    height: auto;
}

span {
    font-weight: bold;
    font-size: 0.8em;
    color: #ea6153;
}

ion-input {
    border: 1px solid #d2d2d2;
    border-radius: 10px;
}

ion-button {
    --border-radius: 100%;
    width: 60px;
    height: 60px;
}

ion-datetime {
    border-radius: 10px;
    border: 1px solid #d2d2d2;
    padding: 10px 8px 10px 10px;
}

.botao-confirmar {
    margin-top: 10px;
}

.input-group {
    margin-bottom: 10px;
}

.invalido {
    border: 2px solid #ea6153;
    border-radius: 10px;
}

.progressoCep {
    width: 90%;
    margin: 0 auto;
}

.loading {
    font-size: 32px;
    margin: 0 auto;
}