<ion-slides [options]="slidesOpts">
    <ion-slide>
        <app-img src="../../../assets/events/gabriela-rocha/gabriela-rocha.png" nomeEvento="Gabriela Rocha" localEvento="Natal/RN" dataEvento="24/07/2019"></app-img>
    </ion-slide>
    <ion-slide>
        <app-img src="../../../assets/events/foo-fighters/foo-fighters.png" nomeEvento="Foo Fighters" localEvento="São Paulo/SP" dataEvento="20/11/2019"></app-img>
    </ion-slide>
    <ion-slide>
        <app-img src="../../../assets/events/alok/alok.png" nomeEvento="Alok" localEvento="São Paulo/SP" dataEvento="11/09/2019"></app-img>
    </ion-slide>
</ion-slides>