<ion-slides [options]="slidesOpts">
    <ion-slide>
        <ion-card>
            <ion-item>
                <ion-icon name="globe" slot="start"></ion-icon>
            </ion-item>
            <ion-card-content>
                This is content, without any paragraph or header tags, within an ion-card-content element.
            </ion-card-content>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card>
            <ion-item>
                <ion-icon name="airplane" slot="start"></ion-icon>
            </ion-item>
            <ion-card-content>
                This is content, without any paragraph or header tags, within an ion-card-content element.
            </ion-card-content>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card>
            <ion-item>
                <ion-icon name="attach" slot="start"></ion-icon>
            </ion-item>
            <ion-card-content>
                This is content, without any paragraph or header tags, within an ion-card-content element.
            </ion-card-content>
        </ion-card>
    </ion-slide>
</ion-slides>