// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
ion-content {
    --background: #ecf0f1;
}

ion-card {
    background-color: #fff !important;
}

//Tamanho de fontes
.fonte-tamanho12 {
    font-size: 12px !important;
}

.fonte-tamanho14 {
    font-size: 14px !important;
}

.fonte-tamanho16 {
    font-size: 16px !important;
}

.fonte-tamanho20 {
    font-size: 20px !important;
}

.fonte-tamanho26 {
    font-size: 26px !important;
}

//Margem cima
.margem-cima10 {
    margin-top: 10px !important;
}

.margem-cima20 {
    margin-top: 20px !important;
}

//Margem baixo
.margem-baixo5 {
    margin-bottom: 5px !important;
}

.margem-baixo10 {
    margin-bottom: 10px !important;
}

.margem-baixo20 {
    margin-bottom: 20px !important;
}

//Texto negrito
.txt-negrito {
    font-weight: bold;
}

//Altura fixa
.altura-fixa270 {
    height: 270px !important;
}