// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
ion-content {
    --background: #ecf0f1;
}

ion-card {
    background-color: #fff !important;
}

//Tamanho de fontes
.fonte-tamanho12 {
    font-size: 12px !important;
}

//Margem cima
.margem-cima10 {
    margin-top: 10px !important;
}

//Margem baixo
.margem-baixo10 {
    margin-bottom: 10px !important;
}

//Texto negrito
.txt-negrito {
    font-weight: bold;
}