<ion-content>
    <div class="header" padding>
        <div class="box-login">
            <ion-card mode="ios">
                <ion-progress-bar class="ion-hide" type="indeterminate"></ion-progress-bar>
                <ion-card-header>
                    <ion-card-title>Login</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    <form [formGroup]="formularioLogin" (ngSubmit)="onSubmitLogin()">
                        <div class="input-group">
                            <label for="email">email</label>
                            <input type="email" class="custom-input" id="email" formControlName="email">
                        </div>
                        <div class="input-group">
                            <label for="senha">senha</label>
                            <input type="password" class="custom-input" id="senha" formControlName="senha">
                        </div>
                        <ion-button type="submit" size="large" shape="round" expand="full" id="btnEntrar">Entrar</ion-button>
                    </form>

                    <div class="links ">
                        <div class="link ">
                            <a (click)="abrirNovaConta()">criar conta</a>
                        </div>
                        <div class="link ">
                            <a href="#! ">esqueceu a senha?</a>
                        </div>
                        <div class="link ">
                            <a (click)="logOut()">sair</a>
                        </div>
                    </div>

                </ion-card-content>
            </ion-card>
        </div>

        <div class="box-cadastrar ion-hide">
            <ion-card mode="ios">
                <ion-progress-bar class="ion-hide" type="indeterminate"></ion-progress-bar>
                <ion-card-header>
                    <ion-icon name="arrow-back" (click)="voltar()"></ion-icon>
                    <ion-card-title>Cadastrar</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    <form id="formularioCadastro" [formGroup]="formularioCadastro" (ngSubmit)="onSubmitCadastro()">
                        <div class="input-group">
                            <label for="primeiroNome">primeiro nome</label>
                            <input type="text" class="custom-input" id="primeiroNome" formControlName="primeiroNome">
                        </div>
                        <div class="input-group">
                            <label for="sobrenome">sobrenome</label>
                            <input type="text" class="custom-input" id="sobrenome" formControlName="sobrenome">
                        </div>
                        <div class="input-group">
                            <label for="email">email</label>
                            <input type="email" class="custom-input" id="email" formControlName="email">
                        </div>
                        <div class="input-group">
                            <label for="usuario">usuário</label>
                            <input type="text" class="custom-input" id="usuario" formControlName="usuario">
                        </div>
                        <div class="input-group">
                            <label for="senha">senha</label>
                            <input type="password" class="custom-input" id="senha" formControlName="senha">
                        </div>
                        <div class="input-group">
                            <label for="senhaConf">confirme sua senha</label>
                            <input type="password" class="custom-input" id="senhaConf">
                        </div>
                        <ion-button type="submit" size="large" shape="round" expand="full" id="btnCadastrar">Cadastrar</ion-button>
                    </form>

                </ion-card-content>
            </ion-card>
        </div>
    </div>

</ion-content>