.header {
    height: 300px;
    width: 100%;
    background: #f9ca24;
    position: absolute;
    top: 0;
}

ion-card {
    background: #fff;
    min-height: 300px;
    position: relative;
    top: 200px;
}

ion-button {
    position: relative;
    top: 250px;
    --background: #22a6b3;
    margin-bottom: 50px;
}

.links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.link a {
    color: #666666;
    text-decoration: none;
}