<ion-header>
    <ion-toolbar>
        <ion-title>formas de pagamento</ion-title>
        <ion-buttons slot="start">
            <ion-back-button *ngIf="!efetuarCompraLink" text="" icon="ios-arrow-back" color="primary"></ion-back-button>
            <ion-back-button *ngIf="efetuarCompraLink" text="" icon="ios-arrow-back" color="primary" defaultHref="{{efetuarCompraLink.rota}}"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-radio-group>
        <!-- <ion-card class="ion-no-margin" mode="ios">
            <ion-list lines="none">
                <div *ngIf="formasPagamento[1]">
                    <ion-list-header>
                        carteira
                    </ion-list-header>
                    <ion-item>
                        <h3 class="ion-text-start">Saldo: <span>{{ formasPagamento[1].carteira.saldo | currency:'BRL'}}</span>
                        </h3>
                        <ion-radio slot="end" color="secondary" name="sausage" (click)="selecionarForma(formasPagamento[1], $event, 1)"></ion-radio>
                    </ion-item>
                </div>
            </ion-list>
        </ion-card> -->

        <ion-card class="ion-no-margin" mode="ios">
            <ion-list lines="none" mode="ios">
                <ion-list-header>
                    cartão cadastrado
                </ion-list-header>
                <div id="cartoes-cadastrados" *ngIf="formaPagamento">
                    <ion-item>
                        <ion-input hidden value="{{formaPagamento.idFormaPg}}"></ion-input>
                        <ion-avatar slot="start">
                            <img src="../../../../assets/icons/{{formaPagamento.cartao.bandeira | lowercase}}.svg">
                        </ion-avatar>
                        <ion-label>
                            <h3>**** {{formaPagamento.cartao.cartaoFormatado}}</h3>
                            <h4>{{formaPagamento.cartao.nomeTitular | uppercase}} </h4>
                        </ion-label>
                        <!-- <ion-radio slot="end" color="secondary" name="sausage" checked (click)="selecionarForma(formaPagamento, $event, 0)"></ion-radio> -->
                        <ion-icon name="more" slot="end" (click)="acoes(formaPagamento);"></ion-icon>
                    </ion-item>
                </div>
            </ion-list>
        </ion-card>

    </ion-radio-group>
    <!-- <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="success" routerLink="cartao-credito" [disabled]="!formasPagamento" routerDirection="forward">
            <ion-icon name="add-circle-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab> -->
</ion-content>