<ion-header>
    <ion-toolbar>
        <ion-title>Formas de pagamento</ion-title>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="ios-arrow-back" color="primary"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list lines="none">
        <ion-list-header>
            cartões cadastrados
        </ion-list-header>


        <div id="cartoes-cadastrados" *ngIf="formasPagamento; else semFormasPg">
            <div *ngFor="let formaPg of formasPagamento">
                <ion-item-sliding>
                    <ion-item>
                        <ion-avatar slot="start">
                            <img src="../../../../assets/icons/{{formaPg.cartao.bandeiraCartao | lowercase}}.svg">
                        </ion-avatar>
                        <ion-label>
                            <h3>**** {{formaPg.cartao.cartaoFormatado}}</h3>
                            <h4>{{formaPg.cartao.nomeTitular | uppercase}} </h4>
                        </ion-label>
                    </ion-item>

                    <ion-item-options side="end">
                        <ion-item-option color="danger">Excluir</ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </div>
        </div>

        <ng-template #semFormasPg>
            <ion-item>
                <ion-label>
                    <h3>sem cartões cadastrados.</h3>
                </ion-label>
            </ion-item>
        </ng-template>
    </ion-list>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="success" routerLink="adicionar-forma-pagamento" routerDirection="forward">
            <ion-icon name="add-circle-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>