<ion-content>
    <div class="perfil" padding>
        <div *ngIf="!temFoto else naoTemFoto" class="foto-perfil">
            <img [src]="usuarioLogado.imgPerfil" alt="Foto do perfil">
        </div>

        <ng-template #naoTemFoto>
            <div class="foto-perfil">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" alt="Foto do perfil">
            </div>
        </ng-template>

        <!-- <div class="link ion-text-center">
            <a href="#">Altenar foto</a>
        </div> -->

        <div class="dados-perfil">
            <div class="nome-completo" class="ion-text-center">
                <p class="ion-no-margin" *ngIf="usuarioLogado.primeironome else semNome">{{ usuarioLogado.primeironome + ' ' + usuarioLogado.sobrenome }}</p>
                <ng-template #semNome>
                    <p class="ion-no-margin">sem nome</p>
                </ng-template>
            </div>

        </div>
        <div class="btn-editar" class="ion-text-end">
            <!-- <ion-button size="small" (click)="editarPerfil()" color="light">editar perfil</ion-button> -->
            <!-- <ion-icon button name="create" (click)="editarPerfil()"></ion-icon> -->
        </div>
    </div>

    <div class="lista-opcoes">
        <ion-list mode="ios">
            <div *ngFor="let item of itens">
                <ion-item button lines="full" routerLink="{{ item.rota }}" routerDirection="forward">
                    <ion-icon slot="start" name="{{ item.icone }}"></ion-icon>
                    <ion-label>
                        <h3>{{ item.titulo }}</h3>
                    </ion-label>
                </ion-item>
            </div>
        </ion-list>
    </div>


</ion-content>

<div class="ion-text-center" padding>
    <ion-button shape="round" (click)="sair()" color="danger" class="">sair</ion-button>
</div>