<ion-content>
    <ion-row>
        <div class="header ion-no-margin">
            <div class="bem-vindo" padding></div>
        </div>
    </ion-row>
    <ion-grid>
        <ion-row>
            <h4 padding>novidades</h4>
        </ion-row>

        <ion-row>
            <ion-col size="auto">
                <card-slide [eventos]="eventos"></card-slide>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <divisor></divisor>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col size="12">
                <lista-categorias [categorias]="categorias"></lista-categorias>
            </ion-col>
        </ion-row>

    </ion-grid>