<!-- <div class="container-lista">
    <ul class="lista-categorias">
        <li>shows</li>
        <li>teatro</li>
        <li>palestra</li>
        <li>stand-up</li>
    </ul>
</div> -->

<!-- <ion-slides [options]="slidesOpts">
    <ion-slide>shows</ion-slide>
    <ion-slide>teatro</ion-slide>
    <ion-slide>palestra</ion-slide>
    <ion-slide>stand-up</ion-slide>
</ion-slides> -->

<ion-slides class="lista-categorias" [options]="slidesOpts">
    <ion-slide *ngFor="let categoria of categorias" id="{{ categoria }}">{{ categoria }}</ion-slide>
</ion-slides>