h1,
h2,
h3,
h4,
h5 {
    color: #fff;
}

ion-toolbar {
    // background-image: url("../../../assets/backgrounds/bg-explorar.png");
    --background: url("../../../assets/backgrounds/bg-explorar.png");
}

ion-content {
    // background-image: url("../../../assets/backgrounds/bg-explorar.png");
    --background: url("../../../assets/backgrounds/bg-explorar.png");
}

ion-toolbar {
    padding: 15px;
    span {
        font-size: 22pt;
        color: #fff;
        letter-spacing: 0pt;
    }
}

.lista-categorias {
    margin-top: 20px;
}

ion-slide {
    color: #A59999;
    font-weight: 600;
}

.ativo {
    color: #fff;
    font-weight: 600;
    border-bottom: 4px solid #34AFE6;
    text-align: left;
    left: 0;
    transition: 0.7s;
}

.desabilitado {
    color: #A59999;
    font-weight: 600;
}