h1,
h2,
h3,
h4,
h5 {
    color: #fff;
}

.bem-vindo {
    color: #fff;
}

ion-content {
    // background-image: url("../../../assets/backgrounds/bg-explorar.png");
    --background: url("../../../assets/backgrounds/bg-explorar.png");
}

.lista-categorias {
    margin-top: 20px;
}

// ion-slide {
//     color: #A59999;
//     font-weight: 600;
//     font-size: 14px;
// }
// .ativo {
//     color: #fff;
//     font-weight: 600;
//     border-bottom: 4px solid #34AFE6;
//     // transition: 0.7s ease-in;
// }
// .desabilitado {
//     color: #A59999;
//     font-weight: 600;
// }