<ion-content>
    <ion-grid>
        <ion-row>
            <div class="header-container" padding>
                <div class="bem-vindo"></div>
            </div>
        </ion-row>

        <ion-row>
            <h4 padding>novidades</h4>
        </ion-row>

        <ion-row>
            <ion-col size="auto">
                <card-slide [eventos]="eventos"></card-slide>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">
                <!-- <ion-slides class="lista-categorias" [options]="slidesOpts">
                    <ion-slide class="item ativo ativo-movimento mover" id="shows">shows</ion-slide>
                    <ion-slide class="item desabilitado" id="teatro">teatro</ion-slide>
                    <ion-slide class="item desabilitado" id="palestra">palestra</ion-slide>
                    <ion-slide class="item desabilitado" id="stand-up">stand-up</ion-slide>
                    <ion-slide class="item desabilitado" id="cristão">cristão</ion-slide>
                </ion-slides> -->

                <lista-categorias [categorias]="categorias"></lista-categorias>
            </ion-col>
        </ion-row>

    </ion-grid>