<ion-content>
    <ion-grid>
        <ion-row>
            <div class="header-container" padding>
                <div class="bem-vindo"></div>
            </div>
        </ion-row>

        <ion-row>
            <h4 padding>novidades</h4>
        </ion-row>

        <ion-row>
            <ion-col size="auto">
                <card-slide [eventos]="eventos"></card-slide>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-slides class="lista-categorias" [options]="slidesOpts">
                <ion-slide class="ativo" id="shows">shows</ion-slide>
                <ion-slide class="desabilitado" id="teatro">teatro</ion-slide>
                <ion-slide class="desabilitado" id="palestra">palestra</ion-slide>
                <ion-slide class="desabilitado" id="stand-up">stand-up</ion-slide>
            </ion-slides>
        </ion-row>

    </ion-grid>