<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="ios-arrow-back" color="primary"></ion-back-button>
        </ion-buttons>

        <ion-title class="ion-text-center">Forma de pagamento</ion-title>

        <ion-buttons slot="end">
            <ion-button>
                <ion-icon slot="icon-only" name="checkmark" color="success" size="large" (click)="onSubmit()"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div>
        <ion-card class="cartao" padding>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <span class="ion-text-center" id="txtNroCartao"></span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="8">
                        <label for="dtValidade">val</label>
                        <span id="txtDtValidade"></span>
                    </ion-col>
                    <ion-col size="4">
                        <label for="codSeguranca">cvv</label>
                        <span id="txtCodSeguranca"></span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <span id="txtNomeTitular"></span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
    </div>

    <div class="dados-cartao" padding>
        <ion-card>
            <form id="formularioCadastrarFormaPg" [formGroup]="formCadastrarFormaPg" (ngSubmit)="onSubmitFormaPg()">
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <div class="ion-text-start">
                                <ion-label position="stacked">nro. cartão</ion-label>
                                <ion-input id="nrCartao" formControlName="nroCartao" type="tel" maxlength="16" (keyup)="setDadosNroCartao($event)"></ion-input>
                            </div>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="6">
                            <div class="ion-text-start">
                                <ion-label position="stacked">data de vencimento</ion-label>
                                <ion-input formControlName="dtValidade" type="text" id="dtValidade" (keyup)="setDadosDtValidade($event)"></ion-input>
                            </div>
                        </ion-col>
                        <ion-col size="6">
                            <div class="ion-text-start">
                                <ion-label position="stacked">cod. seguranca (cvv)</ion-label>
                                <ion-input id="codSeguranca" formControlName="codSeguranca" type="tel" maxlength="3" (keyup)="setDadosCodSeguranca($event)"></ion-input>
                            </div>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <div class="ion-text-start">
                                <ion-label position="stacked">nome titular</ion-label>
                                <ion-input id="nomeTitular" formControlName="nomeTitular" type="text" maxlength="20" (keyup)="setDadosNomeTitular($event)"></ion-input>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </form>
        </ion-card>
    </div>

</ion-content>