<ion-header translucent>
    <ion-toolbar mode="md">
        <div *ngIf="qtdTickets > 0; else semQtd">
            <ion-title class="ion-text-center">meus ingressos ({{qtdTickets}})</ion-title>
        </div>

        <ng-template #semQtd>
            <ion-title class="ion-text-center">meus ingressos</ion-title>
        </ng-template>
    </ion-toolbar>
    <ion-segment class="margem-cima20" mode="md">
        <ion-segment-button value="minhas-compras" id="minhas-compras" checked (click)="selecionar('minhas-compras')">
            <ion-label>minhas compras</ion-label>
        </ion-segment-button>
        <ion-segment-button value="presentes" id="presentes" (click)="selecionar('presentes')">
            <ion-label>presentes</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="atualizarTela($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para atualizar">

        </ion-refresher-content>
    </ion-refresher>
    <ion-slides #formSlides (ionSlidePrevStart)="ativarAba('minhas-compras')" (ionSlideNextStart)="ativarAba('presentes')">
        <ion-slide>
            <section *ngIf="ticketsPorPedido.length > 0; else semTickets">
                <div *ngFor="let pedido of ticketsPorPedido; let i = index;">
                    <ion-card button="true" (click)="selecionarPedido(pedido, i)" (press)="onPress(pedido)">
                        <div class="fundo"></div>
                        <div class="infos">
                            <div class="flex margem-baixo20">
                                <ion-text>pedido #000{{pedido.pedido}}</ion-text>
                                <ion-text>{{pedido.tickets?.length}} ingresso(s)</ion-text>
                            </div>
                            <div class="fonte-tamanho26 ion-text-center margem-baixo10">
                                <ion-text>
                                    {{pedido.tickets[0].idevento.nome}}
                                </ion-text>
                            </div>

                            <div class="flex fonte-tamanho14 margem-baixo10 txt-negrito">
                                <ion-text>Data: {{pedido.tickets[0].idevento.dtinicioevento | date: 'dd/MM/yyyy'}}</ion-text>
                                <ion-text>Hora: {{pedido.tickets[0].idevento.horainicioevento | date: 'hh:mm'}} às {{pedido.tickets[0].idevento.horafimevento | date: 'hh:mm'}}</ion-text>
                            </div>

                            <div class="fonte-tamanho14 margem-baixo20">
                                <!-- <ion-text>{{pedido.tickets[0].idevento.setores[0].idlocal.nome}} - {{pedido.tickets[0].evento.setores[0].idlocal.cidade}} / {{pedido.tickets[0].idevento.setores[0].idlocal.uf}}</ion-text> -->
                            </div>

                        </div>
                        <div class="imagem-evento">
                            <ion-img src="{{pedido.tickets[0].idevento.imagem}}"></ion-img>
                        </div>
                    </ion-card>
                </div>
            </section>
        </ion-slide>
        <section>
            <ng-template #semTickets>
                <div class="ion-text-center">
                    <ion-text color="medium">sem ingressos... =/</ion-text>
                </div>
            </ng-template>
        </section>

        <ion-slide>
            <section *ngIf="ticketsPresente.length > 0; else semPresentes">
                <div *ngFor="let ticket of ticketsPresente; let i = index;">
                    <ion-card button="true">
                        <div class="fundo"></div>
                        <div class="infos">
                            <div class="flex margem-baixo20">
                                <ion-text>ticket #000{{ticket.id}}</ion-text>
                            </div>
                            <div class="fonte-tamanho26 ion-text-center margem-baixo10">
                                <ion-text>
                                    {{ticket.idevento.nome}}
                                </ion-text>
                            </div>

                            <div class="flex fonte-tamanho14 margem-baixo10 txt-negrito">
                                <ion-text>Data: {{ticket.idevento.dtinicioevento | date: 'dd/MM/yyyy'}}</ion-text>
                                <ion-text>Hora: {{ticket.idevento.horainicioevento | date: 'hh:mm'}} às {{ticket.idevento.horafimevento | date: 'hh:mm'}}</ion-text>
                            </div>

                            <div class="fonte-tamanho14 margem-baixo20">
                                <!-- <ion-text>{{pedido.tickets[0].idevento.setores[0].idlocal.nome}} - {{pedido.tickets[0].evento.setores[0].idlocal.cidade}} / {{pedido.tickets[0].idevento.setores[0].idlocal.uf}}</ion-text> -->
                            </div>

                        </div>
                        <div class="imagem-evento">
                            <ion-img src="{{ticket.idevento.imagem}}"></ion-img>
                        </div>
                    </ion-card>
                </div>
            </section>
        </ion-slide>
        <section>
            <ng-template #semPresentes>
                <div class="ion-text-center">
                    <ion-text color="medium">sem ingressos... =/</ion-text>
                </div>
            </ng-template>
        </section>
    </ion-slides>

</ion-content>