<ion-header translucent>
    <ion-toolbar>
        <div *ngIf="qtdTickets > 0; else semQtd">
            <ion-title class="ion-text-center">meus ingressos ({{qtdTickets}})</ion-title>
        </div>

        <ng-template #semQtd>
            <ion-title class="ion-text-center">meus ingressos</ion-title>
        </ng-template>

    </ion-toolbar>
</ion-header>

<ion-content padding>
    <section *ngIf="tickets.length > 0; else semTickets">
        <div *ngFor="let pedido of ticketsPorPedido">
            <ion-card button="true" (click)="selecionarPedido(pedido)">
                <div class="fundo"></div>
                <div class="infos">
                    <div class="flex margem-baixo20">
                        <ion-text>pedido #000{{pedido.pedido.id}}</ion-text>
                        <ion-text>{{pedido.tickets?.length}} ingressos</ion-text>
                    </div>
                    <div class="fonte-tamanho26 ion-text-center margem-baixo10">
                        <ion-text>
                            {{pedido.tickets[0].evento.atracao.nome}}
                        </ion-text>
                    </div>

                    <div class="flex fonte-tamanho14 margem-baixo10 txt-negrito">
                        <ion-text>Data: {{pedido.tickets[0].evento.dtInicioEvento}}</ion-text>
                        <ion-text>Hora: {{pedido.tickets[0].evento.horaInicioEvento}} às {{pedido.tickets[0].evento.horaFimEvento}}</ion-text>
                    </div>

                    <div class="fonte-tamanho14 margem-baixo20">
                        <ion-text>{{pedido.tickets[0].evento.setores[0].local.nome}} - {{pedido.tickets[0].evento.setores[0].local.cidade}} / {{pedido.tickets[0].evento.setores[0].local.uf}}</ion-text>
                    </div>

                </div>
                <div class="imagem-evento">
                    <ion-img src="{{pedido.tickets[0].evento.imagem}}"></ion-img>
                </div>
            </ion-card>
        </div>
    </section>
    <section>
        <ng-template #semTickets>
            <div class="ion-text-center">
                <ion-text color="medium">sem ingressos... =/</ion-text>
            </div>
        </ng-template>
    </section>
</ion-content>